mkdocs~=1.5.3
mkdocs-material==9.5.3
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-git-revision-date-localized-plugin==1.2.2
mkdocs-rss-plugin==1.12.1
mkdocs-blog-plugin==0.25
mkdocs-glightbox==0.3.5
mkdocs-git-authors-plugin==0.7.2
mkdocs-static-i18n==1.2.0
pillow==10.2.0
cairosvg==2.7.1